@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(79, 38, 126, 0.95);
  --light-text: rgb(241, 183, 236);
  --spacing: 150px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: var(--light-text);
  z-index: 30;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 20px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* canvas {
  position: fixed;
  top: 0;
  left: 0;
} */
header {
  z-index: 1;
  position: relative;
}

header {
  background: var(--dark-bg);
  grid-column: 1 / span 7;
  font-size: 2.5rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

.meet-team {
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

.img2 {
  grid-column: 1 / span 3;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: var(--dark-bg);
  background-color: var(--light-text);
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

a {
  /* color: var(--light-text) */
  color: rgb(125, 227, 245)
}
