@import url("https://use.typekit.net/jmk3xov.css");


canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(79, 38, 126, 0.80);
  --light-text: rgb(241, 183, 236);
  --spacing: 150px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

/* bouncing arrow */

#bounce {

  /* position: relative; */
  position: absolute;
  /* position: static; */
  /* position: sticky; */
  bottom: 0;
  left:50%;
  bottom:0%;
  margin-left:-65px;
  /* margin-top: -20cm; */
  filter: invert(90%);/* sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
  width:130px;
  height:130px;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;

}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  60% {
    -moz-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  60% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  60% {
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}

/* hide page scrollbar */
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } 

main {
  width: 100vw;
  color: var(--light-text);
  z-index: 30;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 20px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-family: spaceShardsItalic;
  font-weight: normal;
  font-style: normal;
}

header {
  z-index: 1;
  /* position: relative; */
}

header {
  background: var(--dark-bg);
  grid-column: 2 / 8;
  font-size: 2.5rem;
  margin-top: 50cm;
  margin-bottom: var(--spacing);
  padding: 1rem;
  border-radius: 25px; 
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  border-radius: 25px; 
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: 80px;
  border-radius: 25px; 
}

blockquote p {
  padding: 1rem;
  color: var(--dark-bg);
  background-color: var(--light-text);
  font-size: 4rem;
  display: inline;
  line-height: 1;
  border-radius: 25px; 
}

a {
  /* color: var(--light-text) */
  color: rgb(125, 227, 245)
}

.small-box {
  grid-column: 2 / 6
}