@import url("https://use.typekit.net/jmk3xov.css");


canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(79, 38, 126, 0.80);
  --light-text: rgb(241, 183, 236);
  --spacing: 150px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: spaceShardsItalic;
  src: url(../assets/SpaceShardsItalic-nRem1.ttf);
}

main {
  width: 100vw;
  color: var(--light-text);
  z-index: 30;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 20px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-family: spaceShardsItalic;
  font-weight: 700;
  font-style: normal;
}

header {
  z-index: 1;
  position: relative;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / 8;
  font-size: 2.5rem;
  margin-top: 50cm;
  margin-bottom: var(--spacing);
  padding: 1rem;
  border-radius: 25px; 
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  border-radius: 25px; 
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: 80px;
  border-radius: 25px; 
}

blockquote p {
  padding: 1rem;
  color: var(--dark-bg);
  background-color: var(--light-text);
  font-size: 4rem;
  display: inline;
  line-height: 1;
  border-radius: 25px; 
}

a {
  /* color: var(--light-text) */
  color: rgb(125, 227, 245)
}

.small-box {
  grid-column: 2 / 6
}